.error {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 20rem;
  height: 20rem;
  border: 10px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.error h1 {
  font-size: 8rem;
  color: rgb(225, 33, 33);
}
.error h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

@media screen and (max-width: 575px) {
  .circle {
    width: 12rem;
    height: 12rem;
  }
  .error h1 {
    font-size: 5rem;
  }
  .error h2 {
    font-size: 2.5rem;
  }
}
