* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
img {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
.display-none {
  display: none;
}
.text-center {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
}
