* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
